# loop

something that repeats continuously

1. while  loop

2. for loop

# while loop

python while loop is used to run a block ocode until a certain condition is met

syntax :

  initialization 
  
while condition :

    # body 
    
    -----
    
    -----
    
    inc/ dec

In [4]:
# ex
i=1       #initilization 
while i<=5:  # while condition 
    
    print(i) # body
    
    i+=1     #inc/dec

1
2
3
4
5

In [7]:
# ex
i=1        
while i<=100: 
    
    print(i,end=" ") 
    
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# q wapp to print all numbers present 1 to 50 in reverse

In [8]:
i=50        
while i>=0: 
    
    print(i,end=" ") 
    
    i-=1

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

# q wapp to print all the even number from 1 to 100 without using any condition

In [10]:
i=2
while i<=100:
    print(i,end=" ")
    i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100


# q.wapp to print all the even number from 1 to 100 with condition

In [13]:
i=1
while i<=100:
    if i %2==0:
        print(i,end=" ")
    i+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100


# wapp to print the odd number from 200 to 500

In [15]:
i=200
while i<=500:
    if not i %2==0:
        print(i,end=" ")
    i+=1

201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499

# q wapp to print the table of a given number

In [5]:
x=int(input("enter a number "))
i=1
while i<=10:
    print(f"{i} x {x}={i*x}")
    i+=1

enter a number  5

1 x 5=5
2 x 5=10
3 x 5=15
4 x 5=20
5 x 5=25
6 x 5=30
7 x 5=35
8 x 5=40
9 x 5=45
10 x 5=50

# q. recieve only scissor ,rock,  papper as input from user and print the value 

# if input is other than scissor , rock ,paper then as the user for again input

In [3]:
items = ["scissor", "rock", "paper"]
i=0
while i!=8:
    x = input("Enter scissor, rock, or paper: ").lower()
    if x in items:
        print("You entered:", x)
        break
    else:
        print("Invalid input! Please enter scissor, rock, or paper only.")

Enter scissor, rock, or paper:  lol

Invalid input! Please enter scissor, rock, or paper only.

Enter scissor, rock, or paper:  rock

You entered: rock

 # for loop

a for loop is used for itreating over a sequence (that is either a list, a tuple , a dict, a set , a string )

with the for loop we can excute a set of statments , once for each item in list , tuple , set ,etc 


syntax :

  for i in collection :

      #body of for

In [7]:
#ex

for i in "aeroplane":
    print(i,end=" ")

a e r o p l a n e

In [9]:
#ex
for i in [1,2,3,4,5]:
    print(i,end=" ")

1 2 3 4 5

# range ():

it is a built in function generates a sequence of integers bet. any given interval

syntax:

 range(start,stop+1,step)

In [10]:
#ex
for i in range(1,51,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [11]:
# ex

for i in range(50,1,-2):
    print(i,end=" ")

50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

# q. wapp to find all the numbers that are divisible by 5 lies bet the range 100 - 200

In [14]:
for i in range(100,200+1):
    if i%5==0:
        print(f"the number is {i}")

the number is 100
the number is 105
the number is 110
the number is 115
the number is 120
the number is 125
the number is 130
the number is 135
the number is 140
the number is 145
the number is 150
the number is 155
the number is 160
the number is 165
the number is 170
the number is 175
the number is 180
the number is 185
the number is 190
the number is 195
the number is 200

In [35]:
# q. wapp to find the number of even and odd numbers from a series numberes
series=[11,13,87,41,51,5,16,44,90,3,23,56,78,33,98,76,99]
odd=[]
even=[]
for i in series:
    if i%2==0:
        even.append(i)
    odd.append(i)

print("the even number ",even)

print("the odd number is ",odd)

the even number  [16, 44, 90, 56, 78, 98, 76]
the odd number is  [11, 13, 87, 41, 51, 5, 16, 44, 90, 3, 23, 56, 78, 33, 98, 76, 99]

# q. wapp to  multiplication print the table using for loop

In [29]:
x=int(input("enter the number "))
for i in range(1,11):
    print(f"{i} x {x} ={i*x}")

enter the number  7

1 x 7 =7
2 x 7 =14
3 x 7 =21
4 x 7 =28
5 x 7 =35
6 x 7 =42
7 x 7 =49
8 x 7 =56
9 x 7 =63
10 x 7 =70

# q. wapp to enter any string and print the vowels present in the string

In [2]:
vowel=['a','e','i','o','u']
x=list(input("enter a string:")) 

for j in range (0, len(x)):
    for i in range(0, len(vowel)): 
        if x[j]==vowel[i]:
          print("VOWEL PRESENT",vowel[i])

enter a string: abhijit

VOWEL PRESENT a
VOWEL PRESENT i
VOWEL PRESENT i

In [5]:
vowel=['a','e','i','o','u']
x=input("enter a string:")
for char in x:
    if char in vowel:
        print("vowel is present ",char)

enter a string: abhijit

vowel is present  a
vowel is present  i
vowel is present  i

# Q. wapp that accepts a word from the user and reverse it

In [18]:
x=input("enter a word:")
list=[]
for i in range(len(x)-1,0,-1):
    
    list.append(x[i])

print("".join(list))

enter a word: abhijit

tijihb

# Q. wapp to count the no. of digits and alphabets present inside the entered string

In [19]:
x = input("Enter a string: ")

count_digits = 0
count_letters = 0

for char in x:
    if char.isdigit():
        count_digits += 1
    elif char.isalpha():
        count_letters += 1

print("Number of digits:", count_digits)
print("Number of alphabets:", count_letters)

Enter a string:  abhi2jit4

Number of digits: 2
Number of alphabets: 7